* {
    margin: 0;
    padding: 0;
}

header {
background-color: gainsboro;
padding-top: 25px;
}
body {
    font-family: 'Roboto Slab', serif;
    background-color: gainsboro;
}


.social-header a .fa-inverse {
    color: #242121;
}

.menu-bar {
    background-color: black;
    margin-top: 10px;
    font-weight: 500;
}

.menu-bar a:hover {
    text-decoration: none;
    color: #FCF9F1;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    background-size: cover;
}



footer {
    height: 240px;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

.card-footer {
    background-color: black;


}